:root {
    --b-light: white;
    --background-color: rgb(95, 95, 95);
    --border: 2px solid var(rgb(94, 93, 93));
    --text-color: white;
    --box-Shadow: 0.3rem 0.3rem 0rem rgb(80, 80, 80);
    --hover-color: rgb(85, 85, 85);
    --border-Radius: 0.5rem;
    --padding: 14px 16px;
    --margin: 0.5rem 1rem 0.5rem 1rem; 
    }

*{
    font-size: 1.2rem;
}
html{
    background: rgb(121, 121, 121);
}

body{
    padding: 0;
    margin: 0;
}

div{
    background-color: var(--background-color);
    border: var(--border);
    border-radius: var(--border-Radius);
    box-shadow: var(--box-Shadow);
}

/*#region Navbar*/
.navigationbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 99.99vw;
    overflow: hidden;
    background-color: var(--background-color);
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: var(--box-Shadow);
    border: var(--border);
}
.navigationbar li {
    float: left;
  }

.navigationbar li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: var(--padding);
    text-decoration: none;
  }

.navigationbar li a:hover {
    background-color: var(--hover-color);
}
/*#endregion Navbar*/

/*#region bil-valg*/
.selection{
  color: var(--text-color);
  padding: var(--padding);
  margin: var(--margin);

}
.selection select{
  color: var(--text-color);
  background-color: var(--background-color);
  outline: none;
}
  /*#endregion bil-valg*/

  /*#region title*/
.title{
    margin: var(--margin);
    align-content: center;
    display: flex;
}

.title h1{
    padding: var(--padding);
    color: var(--text-color);
}
  /*#endregion title*/